/*
Also, why this no working?!!
border: 5px solid Blue;
*/
* {
  box-sizing: border-box;
}

body, footer {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #777;
}

#name {
  color: #FFF;
  background-color: #4aaaa5;
  font-family: Georgia, Times, "Times New Roman", serif;
  width: 200px;
  height: 50px;
}

/* Change color back to #FFF for final
Also make links not be blue/underlined */
.nav-bar {
  background-color: Crimson;
  width: 100%;
  height: 50px;
}

/* Why won't my id for <li> work?
Will need separate rules for Nav & Connect */
li {
  display: inline;
}

h2, h3 {
  color: #4aaaa5;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.about {
  display: block;
  background-color: Green;
  max-width: 650px;
}

aside {
  display: block;
  background-color: Yellow;
  max-width: 270px;
}

footer {
  display: block;
  background-color: #666;
  border-top: 5px;
  border-style: solid;
  border-color: #4aaaa5;
  width: 100%;
  height: 50px;
}
